#main-controls {
  max-width: 700px;
}

#controls .pending {
  color: #a2a610;
}
#controls .failure {
  color: red;
}
#controls .complete {
  color: green;
}

#advanced-controls {
  border: 1px dashed #888888;
  padding: 10px 30px;
  margin-bottom: 50px;
}
#main #advanced-controls h2,
#main #advanced-controls h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
#main #advanced-controls h3 {
  color: #999999;
}

#main .advanced-wrapper {
  text-align: center;
}
#main .advanced {
  color: #888888;
  color: #888888;
  border: 0;
  border-radius: 10px;
  background-color: white;
  color: #777777;
  /*font-size: 1rem;*/
  font-family: monospace;
}

#status {
  padding: 20px;
  text-align: center;
  color: #555555;
}
#status #screenshot-url {
  text-align: center;
}
#status #screenshot-img {
  max-width: 800px;
}
#status #screenshot {
  display: inline-block;
  width: 100%;
}
#status #files {
  display: inline-block;
  max-width: 30%;
}
#complete {
}
#complete p {
  text-align: center;
}
#complete .next {
  text-align: center;
}
#traceback {
  text-align: left;
  font-size: 0.7em;
  overflow-x: scroll;
}

#help-page-wrapper button:hover,
#main button:hover {
  background-color: #eeeeee;
}
#help-page-wrapper button,
#main button {
  /*font-size: 0.9rem;*/
  border: 1px solid black;
  background-color: white;
  padding: 0.4rem;
  margin: 30px;
  min-width: 75px;
}

#toggle-wrapper {
  vertical-align: middle;
  /*font-size: 25px;*/
}

#toggle-wrapper button {
  margin: 0 1em;
  margin: 0 0.5em;
}

#sub-controls {
}
#sub-controls-menu span {
  padding: 2px 5px;
  /*display: flex-inline;*/
}
#sub-controls-menu {
  /*font-size: 11px;*/
}

#files-list {
  min-width: 800px;
  font-size: 13px;
  margin: 0 auto;
}
#files-list td {
  vertical-align: top;
}
#files-list-wrapper {
  max-height: 45vh;
  overflow-y: scroll;
}

#page-controls {
  text-align: center;
}

#header {
  display: flex;
  z-index: 999999;
  font-family: monospace;
}
#header .header-link {
  flex-grow: 2;
  text-align: center;
  text-decoration: none;
  color: black;
  height: 25px;
  padding-top: 12px;
}
#header .header-link:hover {
  background-color: #eee;
}

div#toggle-builder:hover {
  background-color: #b0e6b0;
}
div#toggle-builder {
  border: 1px solid green;
  border-radius: 5px;
  padding: 1px 5px;
  cursor: pointer;
  text-align: center;
}

.input-plan-viewer div.input-desc {
  border-radius: 5px;
  border: 1px solid #999999;
  display: inline-block;
  padding: 2px 7px;
  margin: 5px;
}

.input-plan-viewer .input-desc .remove-input:hover {
  color: black;
}
.input-plan-viewer .input-desc .remove-input {
  margin-left: 10px;
  font-weight: bold;
  /*font-size: 1rem;*/
  cursor: pointer;
}

/* materialize wants to display: none; all selects */
#input-builder {
  font-size: 0.85rem;
}

#input-builder select,
#input-builder select#current-input-type {
  display: block !important;
}

.error {
  max-width: 400px;
  border: 3px dashed #b80000;
  background-color: #ffc4c4;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.info {
  font-size: 12px;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  color: #555555;
  border: 1px dashed #bbbbbb;
  text-align: left;
}

.info:before {
  content: "!";
  font-size: 2.0em;
  text-align: left;
  display: inline-block;
  float: left;
  padding-right: 20px;
  padding-left: 10px;
  color: #888888;
}

.link-options-desc {
  color: #444444;
  /*font-size: 0.9rem;*/
}

#load-save {
  width: 100vw;
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  z-index: 2;
}
#load-save .inner {
  max-width: 800px;
  margin: 0 auto;
}
#load-save .close {
  float: right;
  background-color: white;
  border: 0;
  cursor: pointer;
  font-family: monospace;
  color: #555555;
  width: 140px;
  margin-left: -140px;
  margin: 0;
}
#load-save input[type="submit"] {
  /*font-size: 0.9rem;*/
  border: 1px solid black;
  background-color: white;
  padding: 0.4rem;
  margin: 30px;
  min-width: 75px;
  border-radius: 5px;
}

#main label {
  font-size: 1.2em;
  color: #333333;
}
#main input {
  font-size: 0.95em;
}
