#main-controls {
  text-align: center;
  font-size: 16px;
}
#main-controls input {
  width: 50%;
  font-size: 16px;
}
#main-controls button {
  font-size: 16px;
}

#controls .pending {
  color: #a2a610;
}
#controls .failure {
  color: red;
}
#controls .complete {
  color: green;
}

#status {
  text-align: center;
  padding: 20px;
}
#status #screenshot-url {
  text-align: center;
}
#status #screenshot-img {
   max-width: 800px;
}
#status #screenshot {
  display: inline-block;
  width: 100%;
}
#status #files {
  display: inline-block;
  max-width: 30%;
}

#toggle-wrapper {
  display: inline-block;
}
#toggle-wrapper span {
  font-size: 20px;
  cursor: pointer;
  color: #888888;
  width: 40px;
  display: inline-block;
}

#sub-controls {
  text-align: left;
}
#sub-controls-menu span {
  padding: 2px 5px;
  display: flex-inline;
}
#sub-controls-menu {
  font-size: 11px;
}
#sub-controls-menu .small input {
  width: 25px;
}
#sub-controls-menu .medium input {
  width: 75px;
}
#sub-controls-menu .large input {
  width: 250px;
}

#files-list-wrapper {
  min-height: 450px;
}
#files-list {
  min-width: 800px;
  font-size: 13px;
  margin: 0 auto;
}
#files-list td {
  vertical-align: top;
}

#page-controls {
  text-align: center;
}

#header {
  display: flex;
  z-index: 999999;
  font-family: monospace;
}
#header .header-link {
  flex-grow: 2;
  text-align: center;
  text-decoration: none;
  color: black;
  height: 25px;
  padding-top: 12px;
}
#header .header-link:hover {
  background-color: #eee;
}
