#main-controls {
  max-width: 700px;
}

#controls .pending {
  color: #a2a610;
}
#controls .failure {
  color: red;
}
#controls .complete {
  color: green;
}

#advanced-controls {
  border: 1px dashed #888888;
  padding: 10px 30px;
  margin-bottom: 50px;
}
#main #advanced-controls h2,
#main #advanced-controls h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
#main .advanced-wrapper {
  text-align: center;
}
#main .advanced {
  color: #888888;
  border: 1px dashed #888888;
  border-radius: 10px;
  background-color: white;
  color: #777777;
  font-size: 1.2rem;
  padding: 15px;
}

#status {
  padding: 20px;
  text-align: center;
  color: #555555;
}
#status #screenshot-url {
  text-align: center;
}
#status #screenshot-img {
   max-width: 800px;
}
#status #screenshot {
  display: inline-block;
  width: 100%;
}
#status #files {
  display: inline-block;
  max-width: 30%;
}
#complete {
  font-size: 13px;
}
#complete p {
  text-align: center;
}

#toggle-wrapper {
  vertical-align: middle;
  font-size: 25px;
}
#toggle-wrapper button:hover {
  background-color: #eeeeee;
}
#toggle-wrapper button {
  height: 3rem;
  margin: 0 1em;
  margin: 0 0.5em;
  background-color: white;
  border: 1px solid black;
}

#sub-controls {
}
#sub-controls-menu span {
  padding: 2px 5px;
  /*display: flex-inline;*/
}
#sub-controls-menu {
  font-size: 11px;
}

#files-list-wrapper {
  min-height: 450px;
}
#files-list {
  min-width: 800px;
  font-size: 13px;
  margin: 0 auto;
}
#files-list td {
  vertical-align: top;
}

#page-controls {
  text-align: center;
}

#header {
  display: flex;
  z-index: 999999;
  font-family: monospace;
}
#header .header-link {
  flex-grow: 2;
  text-align: center;
  text-decoration: none;
  color: black;
  height: 25px;
  padding-top: 12px;
}
#header .header-link:hover {
  background-color: #eee;
}
