#main {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 15px;
}
#help-page-wrapper h1, #help-page-wrapper h2,
#main h1, #main h2 {
  text-align: center;
}

#welcome {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 25px;
}
#welcome a {
  cursor: pointer;
}
#welcome h1 {
  text-align: center;
}
#welcome .autoscrape-logo {
  text-align: center;
}
#welcome .autoscrape-logo img {
  height: 150px;
  margin-left: 100px;
}
#welcome .close {
  float: right;
  background-color: white;
  border: 0;
  cursor: pointer;
  font-family: monospace;
  color: #999999;
  width: 140px;
  margin-left: -140px;
  margin: 0;
}
.opened {
  border: 1px dashed #888888;
}

#help-page-wrapper button,
#main button {
  cursor: pointer;
  border-radius: 5px;
}
#help-page-wrapper button:disabled,
#main button:disabled {
  color: #bbbbbb;
  background-color: #efefef;
  cursor: not-allowed;
  border: 1px solid #dddddd;
}
